.general {
  margin: 30px;
  display:flex;
  gap: 30px;
}
.drinkContainer {
  width: 70%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}
.drink {
  width: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.detail {
  width: 30%;
}
.input {
  display: block;
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
button {
  width: 200px;
}
.imgholder {
  width: 200px;
  height: auto;
  > * {
    display: block;
    width: 100%;
    height: auto;
  }
}
h1,h2 {
  text-align: center;
}
